/* 선택자 종류
  전체 선택자 : *
  태그 선택자 : 해당 태그 이름
  클래스 선택자 : .
  ID 선택자 : #
  하위 선택자 : 선택자1 선택자2
  자식 선택자 : 선택자1>선택자2
  복수 선택자 : 선택자1,선택자2
*/

.top-menu {
  width: 1000px;
  height: 40px;
  background-color: gray;
  /* margin - border - padding - contents 순서로 감싸짐 */
  margin: auto;
}

.nav {
  list-style: none;
  line-height: 40px;
  text-align: center;
  padding: 0; /* ul 태그는 40px만큼 기본 패딩값을 가지고있음 */
}

.link {
  color: white;
  text-decoration: none;
  width: 200px;
  font-weight: bold;
  display: block;
  float: left;
}

.link:hover {
  background-color: dimgray;
}
